<!-- <div class="container">
  <div class="input-group">
    <div class="form-outline" data-mdb-input-init>
    <input type="search" id="form1" class="form-control" [(ngModel)]="query" placeholder="Enter a name" />
    <button type="button" class="btn btn-primary" data-mdb-ripple-init (click)="search()"><i class="fas fa-search"></i></button>
    </div>
    <div>
    <label>
      <input type="radio" [(ngModel)]="resourceType" value="people" /> People
    </label>
    <label>
      <input type="radio" [(ngModel)]="resourceType" value="films" /> Films
    </label>
    </div>
  </div> -->

<div class="mt-5 mx-auto w-50">
  <div class="form-group row">
    <label for="search" class="col-sm-4 col-form-label"
      >Search People or Films:
    </label>
    <div class="col-md-8">
      <input
        type="text"
        class="form-control border-black"
        placeholder="Search"
        [(ngModel)]="query"
      />
    </div>
  </div>
  <fieldset class="form-group mt-4">
    <div class="row">
      <legend class="col-form-label col-sm-4 pt-0">Select</legend>
      <div class="col-sm-8">
        <div class="d-flex gap-5">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="gridRadios"
              id="gridRadios1"
              value="people"
              checked
              [(ngModel)]="resourceType" 

            />
            <label class="form-check-label" for="gridRadios1">
              People
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input border-black"
              type="radio"
              name="gridRadios"
              id="gridRadios2"
              [(ngModel)]="resourceType" 
              value="films"
            />
            <label class="form-check-label" for="gridRadios2">
              Films
            </label>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row mt-4">
    <div class="form-group row">
      <div class="col-sm-4"></div>
      <div class="col-sm-8">
        <button type="submit" class="btn btn-primary" (click)="search()">
          Search
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="resourceType === 'people'" class="mt-5 mx-auto w-50">
  <table *ngIf="results.length > 0" class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Person Name</th>
        <th scope="col">Movie Titles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results">
        <td>{{ result.name }}</td>
        <td>
          <ul>
            <li *ngFor="let movie of result.movies">
              <a
                href="#"
                [routerLink]="['film/details']"
                [queryParams]="{ url: movie.url }"
                >{{ movie.title }}</a
              >
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="results.length === 0 && query != ''">No results found.</div>
</div>

<div *ngFor="let result of results">
  <p *ngIf="resourceType === 'films'">Film Title: {{ result.title }}</p>
  <p *ngIf="resourceType === 'films'">Director Name: {{ result.director }}</p>
</div>
<app-search-history [resourceType]="resourceType"></app-search-history>
<!-- </div> -->
